<% include partials/header%>

<h1>this is the home page</h1>

<h2> כאן יהיו 2 לחצנים שיובילו למאגר הדוחות וליצירת דוח חדש</h2>

<a href = "/home/newReport">ליצירת דוח חדש</a>

<a href = "/home/ReportsPortal">למאגר הדוחות</a>

<% include partials/footer%>