<% include partials/header%>

<h1>עמוד זה יכיל את השאלה הראשונה</h1>

<form action ="/home/newReport/Q1_general" method = "POST"> 
    איך הייתה הקייטנה עבורו באופן כללי? (איך הילד הגיע? תחושה כללית שלי לגביו? איך הוא ביחס לקייטנה קודמת)<br>
    <input type="text" name="Q1_general"><br>

<button>הבא</button>
</form>

<a href = "/home/newReport">חזור</a>

<% include partials/footer%>