<% include partials/header%>

<h1>דף זה יכיל את מאגר הדוחות</h1>

<form action ="/home/ReportsPortal" method = "POST"> 
    שם פרטי:<br>
    <input type="text" name="firstName"><br>
    שם משפחה:<br>
    <input type="text" name="lastName"><br>

<% include partials/footer%>