<% include partials/header%>

<h1>עמוד זה יהיה עמוד הגשת הדוח - יכיל הצגה של הדוח </h1>
<form action ="/home/newReport/Q1_general" method = "POST"> 


<button>שמור את הדוח</button>
</form>


<% include partials/footer%>